/* app.component.scss */
:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  
    div {
      text-align: center;
    }
  
    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  