<div>
  <h2>Contatos Favoritos</h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Aniversário</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contato of contatosFavoritos">
        <td>{{ contato.nome }}</td>
        <td>{{ contato.telefone }}</td>
        <td>{{ contato.email }}</td>
        <td>{{ contato.aniversario | date : "dd/MM/yyyy" }}</td>
        <td>{{ contato.tipo }}</td>
      </tr>
    </tbody>
  </table>
</div>
