.contatos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.contato-form {
  flex: 0 0 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.contatos-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contato-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.contato-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-icon,
.delete-icon,
.favorite-icon {
  margin-right: 10px;
  cursor: pointer;
}

.favorite {
  color: red; /* Cor do ícone quando favorito */
}

.error-message {
  color: red;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .contato-card {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .contato-card {
      width: 100%;
  }
}