<div class="contatos-container">
  <form (ngSubmit)="adicionarContato()" class="contato-form" #form="ngForm">
    <mat-form-field>
      <label for="nome">Nome:</label>
      <input
        matInput
        type="text"
        id="nome"
        name="nome"
        [(ngModel)]="novoContato.nome"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <label for="telefone">Telefone:</label>
      <input
        matInput
        type="text"
        id="telefone"
        name="telefone"
        [(ngModel)]="novoContato.telefone"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <label for="email">E-mail:</label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        [(ngModel)]="novoContato.email"
        required
      />
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        Por favor, insira um e-mail válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <label for="aniversario">Aniversário:</label>
      <input
        matInput
        type="text"
        id="aniversario"
        name="aniversario"
        [(ngModel)]="novoContato.aniversario"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <label for="tipo">Tipo:</label>
      <mat-select id="tipo" name="tipo" [(ngModel)]="novoContato.tipo" required>
        <mat-option value="Amigo">Amigo(a)</mat-option>
        <mat-option value="Familia">Família</mat-option>
        <mat-option value="Trabalho">Trabalho</mat-option>
        <mat-option value="Outro">Outro</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit">Adicionar Contato</button>
  </form>

  <div class="contatos-list">
    <div
      *ngFor="let contato of contatos; let i = index"
      class="contato-card"
      [ngClass]="{ 'first-in-row': i % 3 === 0 }"
    >
      <div class="contato-header">
        <mat-icon
          class="edit-icon"
          [aria-label]="'Editar ' + contato.nome"
          (click)="editContact(contato)"
        >
          edit
        </mat-icon>
        <mat-icon
          class="delete-icon"
          [aria-label]="'Excluir ' + contato.nome"
          (click)="deleteContact(contato)"
        >
          delete
        </mat-icon>
        <mat-icon
          class="favorite-icon"
          [aria-label]="'Favorito ' + contato.nome"
          (click)="toggleFavorite(contato)"
          [ngClass]="{ favorite: contato.favorite }"
        >
          {{ contato.favorite ? "favorite" : "favorite_border" }}
        </mat-icon>
        {{ contato.nome }}
      </div>
      <div class="contato-info">
        <p>Telefone: {{ contato.telefone }}</p>
        <p>Email: {{ contato.email }}</p>
        <p>Aniversário: {{ contato.aniversario | date : "dd/MM/yyyy" }}</p>
        <p>Tipo: {{ contato.tipo }}</p>
      </div>
    </div>
  </div>
</div>
