/* confirm-dialog.component.scss */

.mat-dialog-container {
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .mat-dialog-title {
    padding: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .mat-dialog-content {
    padding: 1rem;
    font-size: 1.2rem;
    color: #555;
  }
  
  .mat-dialog-actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-left: 8px;
  }
  